venv/
__pycache__/
*.py[cod]
.env
online.env
ngrok
# exclude everything
tmp/*
scripts/*
.idea/workspace.xml
Vagrantfile
.vagrant
.idea/*
.local_dev_yazan/*
var.env
bcc/
.idea/

# exception to the rule
!tmp/.gitkeep
.DS_Store

